*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #eacdcd;
    color: white;
}
#pozadina{
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
    background-size: cover;
}
nav{
    position: relative;
    z-index: 9999;
    display: flex;
    justify-content: center;
    padding: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    gap: 25px;
}
nav li{

    background: linear-gradient(white, #1a1a87);
    font-size: 20px;
    border-radius: 50px;
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: center;
    height: 50px;
}
nav li:hover{
    background-color: #82a0da;
    transform: translateY(5px);
}
nav a{
    font-weight: bold;
    color:darkblue;
    text-decoration: none;
    width: 100%;
    color: #333333;
    display: block;
    line-height: 40px;
    text-align: center;
}
#konj{
    position: fixed;
    bottom: 0;
    right: -1.5cm;
    height: 805px;
    width: 410px;
    margin-top: 40px;
    border-radius: 10px;
}
#ski{
    position: fixed;
    bottom: 0;
    top: -7cm;
    right: 22cm;
    height: 923px;
    width: 692px;
    margin-top: 40px;
    border-radius: 10px;
    z-index: 1;
}
#orel{
    position: fixed;
    bottom: 0;
    top: 1.5cm;
    right: 15cm;
    height: 666px;
    width: 375px;
    margin-top: 40px;
    border-radius: 10px;
    z-index: 1;
}
#tekst{
    color: #afd7f8;
    text-align: justify;
    position: fixed;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1rem;
    font-weight: bold;
    background-color: rgb(0, 0, 0, 0.4);
    padding: 20px;
    margin-top: 30px;
    /* width: 650px;
     margin-top: 50px;*/
    border-radius: 30px;
    box-sizing: border-box;
}
#slika{
    position: fixed;
    bottom: 0;
    top: 9.5cm;
    right: 7cm;
    height: 331px;
    width: 248px;
    margin-top: 40px;
    border-radius: 10px;
}
#vrv{
    position: fixed;
    bottom: 0;
    top: -1cm;
    right: 25cm;
    height: 878px;
    width: 409px;
    margin-top: 40px;
    border-radius: 10px;
}